name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: "yarn"
    - name: Install dependencies
      run: yarn install
    - name: Install playwright deps
      run: yarn playwright install-deps chromium
    - name: Playwright browser install
      run: yarn playwright install chromium
    - name: Run gl4b Playwright tests
      run: yarn test src/tests/check.spec.ts --project=GL4B
      env:
        USER_NAME: ${{ secrets.USER_NAME }}
        PASSWORD: ${{ secrets.PASSWORD }}    
    - name: Run cptest Playwright tests
      if: always()
      run: yarn test:cptest src/tests/createContact.spec.ts
      env:
        USER_NAME: ${{ secrets.USER_NAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: |
            test-results/**
        retention-days: 5
